.section-hero {
  padding-top: 60px;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    margin-bottom: -108px;
    padding-top: 73px;
    padding-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
   padding-top: 14px;
   padding-bottom: 14px;
  
  }
}
.hero {
  @media screen and (min-width: 768px) {
    position: relative;
    padding-bottom: 73px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }
}
.hero__content {
  > :not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    > :not(:last-child) {
      margin-bottom: 40px;
    }
  }
  @media screen and (min-width: 1280px) {
    align-self: center;
    width: 500px;
  }
}
.hero__titel {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.17;

  @media screen and (max-width: 1279px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: 1.2;
  }
  @media screen and (min-width: 1280px) {
    font-size: 48px;
  }
}
.hero__text {
  font-size: 14px;
  line-height: 1.5;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (max-width: 1279px) {
    max-width: 336px;
  }
}
.hero__button {
  padding: 6px 18px;

  background-color: $accent_coolor;
}

.slider {
  background-color: rgba(0, 255, 21, 0.3);
  border-radius: 50%;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 336px;
    height: 320px;
  }
  @media screen and (min-width: 1280px) {
    width: 680px;
    height: 580px;
  }
}
