$text_color: #2C2C2C;
$accent_coolor: #BBF330;
$white: #ffffff;

$header_bg: #FEFEFE;
$box-shadow_header: 0px 4px 24px rgba(105, 105, 105, 0.1);

$body_bg: #F5F5F5;

$accent_btn-green: #B5FF00;
$accent_btn-yellow: #FFE550;
$border_btn: #7EB101;
$border_btn-accent:  #597D00;
$eror_color: #FF705D;